*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.calculator {
    background-color: rgb(8, 9, 58);
    color: white;
    width: 400px;
}

.screen {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.numpad-row:last-child button {
    margin-bottom: 3%;
}

.calc-but {
    background-color: rgb(41, 41, 82);
    color: white;
    width: 22%;
    border-radius: 30px;
    border: none;
    font-size: 36px;
    cursor: pointer;
    padding: 1%;
}

.calc-but:hover {
    background-color: rgb(87, 87, 132);
}

.calc-but:active {
    background-color: rgb(44, 44, 61);
}

.D-calc-but {
    background-color: rgb(100, 100, 249);
    color: white;
    width: 45%;
    border-radius: 30px;
    border: none;
    font-size: 36px;
    cursor: pointer;
    margin-left: 2%;
    padding: 1%;
}

.D-calc-but:hover {
    background-color: rgb(150, 150, 245);
}

.D-calc-but:active {
    background-color: rgb(41, 41, 245);
}

.T-calc-but {
    background-color: rgb(41, 41, 82);
    color: white;
    width: 68%;
    border-radius: 30px;
    border: none;
    font-size: 36px;
    cursor: pointer;
    margin-left: 2%;
    padding: 1%;
}

.T-calc-but:hover {
    background-color: rgb(87, 87, 132);
}

.T-calc-but:active {
    background-color: rgb(44, 44, 61);
}

.numpad-row {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 3%;
}

.calc-but:first-child {
    margin-left: 2%;
}

.calc-but:last-child {
    background-color: rgb(100, 100, 249);
    margin-right: 2%;
}

.calc-but:last-child:hover {
    background-color: rgb(150, 150, 245);
}

.calc-but:last-child:active {
    background-color: rgb(41, 41, 245);
}